.idea/
.gradle/
build/
/backend/tmp/
/tmp/
/.logs/
/backend/.logs/
/backend/src/main/resources/firebase/firebase-key.json
/backend/src/main/resources/firebase-key.json
/jmeter/res/
/jmeter/logs/
/test/
